@model FinalProject.Models.Services

@{
    ViewData["Title"] = "Obriši predmet";
    ViewData["Directions"] = "Jeste li sigurni da želite obrisati ovaj predmet?";
}

<h1>@ViewData["Title"]</h1>

<h3>@ViewData["Directions"]</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Naziv predmeta:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            Cijena po satu:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            Kratki opis:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            Kontakt predavača:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lecturer.ContactEmail)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Obriši" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-outline-primary">Popis predmeta</a>
    </form>
</div>
